html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #b1caf8;
  background: radial-gradient(circle, #3a7ffb 0%, #adc7f8 90%);
  color: #fff;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #add8e6;
  border-radius: 8px;
  box-shadow: inset 0 0 5px #02029c;
}

::-webkit-scrollbar-thumb {
  background: #00008b;
  border-radius: 8px;
}
